<h1>Aaron</h1>
<p class="bg-danger">Welcome to Aaron's app.</p>
Here is my <a href="/bio">bio</a>
<br>
<a href="/simpleform">go to simple form</a>
<br>
<a href = /bmi> go to BMI calculator</a>
<br>
<a href="/dist" >Go to distance calculator</a>
<br>
<a href="/exam3b">Exam 3b</a>
<br>
<a href="/meals">Exam3c</a>
<br>
<a href="/todo">todo</a>
<br>
<a href="/showToDoList">show todo items</a>
<br>
<a href="/coursesBySubject">courses by subject</a>
<br>
<a href="/showSchedule">show schedule</a>
<br>
<a href="/showIngredients">exam4c</a>
<br>
<a href="/exam5">exam 5</a>